// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  border-bottom: solid $light-gray 1px;
  &.shadow {
    box-shadow: 0px -10px 50px 15px #959396;
  }
}

.card {
  &.card-default {
    width: $card-width-default;
  }
}

.icon {
  font-size: 100px;
}

.text {
  &-red {
    color: red;
  }
}

.card{
  border: solid 1px $light-gray !important;
  .card-header {
    border-bottom: solid 1px $light-gray !important;
  }
}